<html>
{% extends "index.html"%}
{%block body%}


<head>
	<link rel="stylesheet" type="text/css" href="{{  url_for ('static', filename='main1.css')}}">

</head>
	<div class ="all">
	<div class ="first1">
	<div>
		<a  class ="link1" href="2nsan.py"> First.py</a></div>
<div class =" first">
	<img class ="project1" src="../static/2nsan.png"/>
	<input type="checkbox" class="read-more-state" id="post-1" />

  	 <code class="read-more-wrap">
  	 	
			<span class ="orange">import </span>turtle
			<span class ="yellow">turtle.color</span>(<span class ="green">"red"</span>)
			<span class ="yellow">turtle.shape</span>(<span class ="green">"turtle"</span>)
			<span class ="yellow">turtle.circle</span>(<span class ="pink">50</span>)<br>
			
			

		<span class="read-more-target">
			<span class ="yellow">turtle.forward</span>(<span class ="pink">100</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">80</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">60</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">200</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">200</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">60</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">30</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">80</span>)
			<span class ="yellow">turtle.right</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.forward</span>(<span class ="pink">90</span>)
			<span class ="yellow">turtle.mainloop()</span>
		</span>
		</code>
 
  	<label for="post-1" class="read-more-trigger"></label>
  	<input type="checkbox" class="read-more-state" id="post-1" />
	<div id="read-more-wrap">
		<label for="post-1" class="read-more-trigger"></label>
	</div> 
</div>
</div>



						<!-- seconed -->



<div class ="seconde1">
	<div>
		<a  class ="link1" href="as x.py"> Seconde.py</a></div>
<div class =" first">
	<img class ="project1" src="../static/azaz.png"/>
	<input type="checkbox" class="read-more-state" id="post-2" />

  	 <code class="read-more-wrap">
  	 	
			<span class ="orange">import </span>turtle
			<br>
			side <span class ="orange"> = </span><span class ="pink">90</span>
			<br>
			x <span class ="orange"> = </span><span class ="pink">200</span>
			<br>
			v <span class ="orange"> = </span><span class ="pink">100</span>			<br>

		<span class="read-more-target">
			<span class ="read-more-target"><span class ="yellow">turtle.forward(v)
			turtle.left(side)
			turtle.forward(x)
			turtle.left(side)
			turtle.forward(x)
			turtle.left(side)
			turtle.forward(x)

			turtle.left(side)
			turtle.forward(v)


			turtle.mainloop()
		</span>
		</code>
 
  	<label for="post-2" class="read-more-trigger"></label>
  	<input type="checkbox" class="read-more-state" id="post-2" />
	<div id="read-more-wrap">
		<label for="post-2" class="read-more-trigger"></label>
	</div> 
</div>
</div>





                             <!-- third -->
<div class ="third1">
	<div>
		<a  class ="link1" href="defult.py"> Third.py</a></div>
<div class =" first">
	<img class ="project1" src="../static/third.png"/>
	<input type="checkbox" class="read-more-state" id="post-3" />

  	 <code class="read-more-wrap">
  	 	
			<span class ="orange">import </span>turtle
			<span class ="yellow">turtle.shape</span>(<span class ="green">"turtle"</span>)
			<span class ="yellow">def</span><span class="orange"> creat_square</span>(<span class ="blue">length</span>)
			<span class ="yellow"> turtle.forward</span>(<span class ="pink">40</span>)			

		<span class="read-more-target">
			<span class ="yellow"> turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow"> turtle.forward</span>(<span class ="pink">40</span>)
			<span class ="yellow"> turtle.left</span>(<span class ="pink">90</span>)
			<span class ="yellow"> turtle.forward</span>(<span class ="pink">40</span>)
			<span class ="yellow"> turtle.left</span>(<span class ="pink">90</span>)

			<span class ="yellow"> turtle.forward</span>(<span class ="pink">40</span>)

			<span class ="yellow"> turtle.left</span>(<span class ="pink">90</span>)

			<span class ="yellow"> turtle.left</span>(<span class ="pink">90</span>)

			<span class ="orange"><BR>for</span> i <span class ="orange">in range </span>(<span class ="pink">10</span>)


		</span>
		</code>
 
  	<label for="post-3" class="read-more-trigger"></label>
  	<input type="checkbox" class="read-more-state" id="post-3" />
	<div id="read-more-wrap">
		<label for="post-3" class="read-more-trigger"></label>
	</div> 
</div>
</div>



</div>
</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>	
<script src="main1.js"></script>
</html>


{%endblock%}



<!-- 
 <p class="read-more-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p> -->